.circle {
    animation: circleAnimation 1.4s infinite ease alternate-reverse
}

@keyframes circleAnimation {
    from {
        transform: translate(0px, 1px)
    }
    to {
        transform: translate(0px, 27px)
    }
}