.circle {
  animation: circleAnimation 1.4s infinite ease alternate-reverse;
}

@-webkit-keyframes circleAnimation {
  from {
    -webkit-transform: translate(0px, 1px);
            transform: translate(0px, 1px);
  }
  to {
    -webkit-transform: translate(0px, 27px);
            transform: translate(0px, 27px);
  }
}

@keyframes circleAnimation {
  from {
    -webkit-transform: translate(0px, 1px);
            transform: translate(0px, 1px);
  }
  to {
    -webkit-transform: translate(0px, 27px);
            transform: translate(0px, 27px);
  }
}
/*# sourceMappingURL=animations.css.map */